h1{
    text-align: center;
    background-color: skyblue;
    margin: 0px;
    padding: 20px;
}
.boardd{
    width: 600px;
    height: 500px;
    margin: 0px auto;
}
table{
    width: 100%;
    
}
.no{
    text-align: center;
}
thead{
    text-align: left;
}